/* =========================================================================
   TYPOGRAPHY
   ========================================================================= */

@font-face {
    font-family: 'GillSansStdLight';
    src: url('/css/typography/gillsansstd-light.eot');
    src: url('/css/typography/gillsansstd-light.eot') format('embedded-opentype'),
         url('/css/typography/gillsansstd-light.woff2') format('woff2'),
         url('/css/typography/gillsansstd-light.woff') format('woff'),
         url('/css/typography/gillsansstd-light.ttf') format('truetype'),
         url('/css/typography/gillsansstd-light.svg#GillSansStdLight') format('svg');
}

@font-face {
    font-family: 'GillSansStdRegular';
    src: url('/css/typography/gillsansstd.eot');
    src: url('/css/typography/gillsansstd.eot') format('embedded-opentype'),
         url('/css/typography/gillsansstd.woff2') format('woff2'),
         url('/css/typography/gillsansstd.woff') format('woff'),
         url('/css/typography/gillsansstd.ttf') format('truetype'),
         url('/css/typography/gillsansstd.svg#GillSansStdRegular') format('svg');
}


@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/css/typography/MonoSocialIconsFont-1.10.eot');
    src: url('/css/typography/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/css/typography/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/css/typography/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/css/typography/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/css/typography/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol {
    background: #9f9f9f;
    padding: 7px 5px 3px 5px;
    color: white;
    text-decoration: none;
}
