
body{
	
    font-family: 'GillSansStd';
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;

	&.template-works-overview {
    
    	padding-top: $navbar-height;
    
    }

}


.main{

}
