


.elegant-icon{
	font-family: 'ElegantIcons';
}



.social-list{

	li{
		float: left;
		a{
		    display: block;
		    padding: 0 5px;
		    font-family: 'Mono Social Icons Font';
		    font-size: 30px;
		}
	}
}
