
/* =========================================================================
   #LAYOUT
   ========================================================================= */
   
   

body{
    font-family: map-get($sans-serif, weight-1);
    font-size: 14px;
    letter-spacing: 0.02em;
    

}

.main{

}





/* =========================================================================
   #INDIE WORK
   ========================================================================= */



.indie-works-grid-item{
	
	
	@include mq-gteq(small){
		
		float: left;
		width: 50%;
		
	}	
	
	@include mq-gteq(large){
		
		float: left;
		width: 33.33%;
		
	}	
	
	
	
}


.indie-work-card{
	
	position: relative;
	overflow: hidden;
	cursor: pointer;
	
	
}


.indie-work-card-image-wrapper{

	
}

.indie-work-card-details{
	
	text-align: right;
	
}

.indie-work-card-title{
	padding: 20px 20px 5px;
	font-size: 25px;
}


.indie-work-card-category{
	padding: 5px 20px 20px;
	font-size: 12px;
	text-transform: capitalize;
}




.indie-work-card{
	
	html.device-no-mobile &{
		

		.indie-work-card-image-wrapper{
			
			@include transition();
		}

		.indie-work-card-details{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;	
			
			@include transition();
			
			@include transform(translateY(100%));
		}
		
		
		&:hover{
			
			.indie-work-card-image-wrapper{
				@include transform(translateY(-10%));
			}
	
			.indie-work-card-details{
				@include transform(translateY(0));
			}
		
		}


	}
	
	
}











































