/* =========================================================================
   VARIABLE & MAP
   ========================================================================= */




$serif: (



);

$sans-serif: (

	weight-1: 'GillSansStdLight',
	
	weight-2: 'GillSansStdRegular'
);




$palettes: (


);



$breakpoints: (

  small: 768px,

  medium: 992px,

  large: 1200px,

);


$z-index: (

  navbar: 100,

  fullscreen-overlay: 200,


);





