{% extends "/_layout.html" %}

{% set body_class = "template-comml-work template-work" %}



{% block main %}


<div class="comml-work-container">


	<div id="work" class="comml-work work">


		{# HERO SECTION #}
		
		<div class="comml-work-hero-section"
		data-bottom="transform:translateY(0px);"
		data-top="transform:translateY(-300px);"
		data-anchor-target=".comml-work-text-top"
		>
		
			<div class="comml-work-hero">
		
				{% set imageSrc = entry.commlWorkHeroImage.first().url %}
			
				<div class="comml-work-hero-image" style="background-image: url({{ imageSrc }});"></div>
			
			
				{% set heroBkgColorHex = entry.commlWorkHeroBkgColor %}
				
				{% set hueHeroBkgColor = craft.hue.createColorFromHex(heroBkgColorHex) %}
				
				{% set heroBkgColorRGB = hueHeroBkgColor.rgb %}
			
				<div class="comml-work-hero-image-cover"
				data-bottom="background-color: rgba({{ heroBkgColorRGB }},0);"
				data-top="background-color: rgba({{ heroBkgColorRGB }},1);"
				data-anchor-target=".comml-work-text-top"
				></div>


				<div class="comml-work-hero-color"></div>

				<style type="text/css">	
					
					.comml-work-hero-color{
						
						background-color: {{ heroBkgColorHex }};
							
					}
					
				</style>
		
			</div>
		
		</div>

		{# END HERO SECTION #}
		
		
		{# MAIN #}

		<div class="comml-work-main">
				
		
			{# TEXT SECTION #}
			
			<style type="text/css">
			
				{% set textBkgColorHex = entry.commlWorkTextBkgColor %}
				
				{% set hueTextBkgColor = craft.hue.createColorFromHex(textBkgColorHex) %}
				
				{% set textBkgColorRGB = hueTextBkgColor.rgb %}
				
				{% set textBkgColorAlpha = entry.commlWorkTextBkgOpacity %}
				
				
				{% set heroBkgcolorHex = entry.commlWorkHeroBkgColor %}
				
				
				.comml-work-text{
					
					background-color: rgba({{ textBkgColorRGB }},{{ textBkgColorAlpha }});
						
				}
				
			</style>
			
			
			<div class="comml-work-text-section">
			
				<div class="comml-work-text">
				
					{# TEXT TOP #}
				
					<div class="comml-work-text-top">
					
						<div class="comml-work-text-row row">
						
							<div class="comml-work-text-col col">
							
							
								{# ROLE #}

								
								{% set roles = entry.commlWorkRoles %}
								
								{% set roleLength = roles | length %}
								
								{% set roleHeader = roleLength < 2 ? 'role':'roles' %}
								
								
							
								<div class="comml-work-text-header">{{ roleHeader }}</div>			
								
								<ul class="comml-work-text-list">
								
									{% for block in roles %}
									
									<li>{{ block.role }}</li>

									{% endfor %}
								
								</ul>
								
								
								<style type="text/css">
								
									{% set headerColor = entry.commlWorkHeaderColor %}
	
									{% set listColor = entry.commlWorkListColor %}
													
									.comml-work-text-header{
									    color:{{ headerColor }};
									}
												
									{#
									    .comml-work-client-header:after{
										    background-color: {{ headerColor }};
									    }   
									#}

								    .comml-work-text-list{
									    color:{{ listColor }};
								    }
								    					
								</style>

								{# END ROLE #}

							</div>
							
							<div class="comml-work-text-col col">
								<div class="position-relative block-fullheight">
								
								{# CLIENT #}
								
								<div class="comml-work-text-header comml-work-client-header">client</div>
								
								<div class="comml-work-title">
									
									<div class="comml-work-client">{{ entry.commlWorkClient }}</div>
									<div class="comml-work-project">{{ entry.commlWorkProject }}</div>
									
								</div>
								
								<style type="text/css">
								
									{% set clientColor = entry.commlWorkClientColor %}
									
									{% set projectColor = entry.commlWorkProjectColor %}
									
									.comml-work-client{
										color:{{ clientColor }};
									}
									    
									.comml-work-project{
										color:{{ projectColor }};
									} 
								
								</style>
															
								{# END CLIENT #}
								
								</div>
							</div>
							
						
												
						</div>
						
					</div>
					
					{# END TEXT TOP #}
				
				
					{# TEXT BOTTOM #}
			    	
					<div class="comml-work-text-bottom">
					
						<div class="comml-work-text-row row">
						
							<div class="comml-work-text-col col">
							
								{# SKILL #}
							
								{% set skills = entry.commlWorkSkills %}
								
								{% set skillLength = skills | length %}
								
								{% set skillHeader = skillLength < 2 ? 'skill':'skills' %}
							
								<div class="comml-work-text-header">{{ skillHeader }}</div>
								
								<ul class="comml-work-text-list">
								
									{% for block in skills %}
									
									<li>{{ block.skill }}</li>

									{% endfor %}
								
								</ul>

								{# END SKILL #}
								
							</div>
							
							<div class="comml-work-text-col col">
							
								{# DESC #}
								
								<div class="comml-work-text-header invisible">description</div>

								
								<div class="comml-work-desc">{{ entry.commlWorkDescription }}</div>
								
								<div class="comml-work-info">{{ entry.commlWorkInfo }}</div>
								
								
								{# END DESC #}

								<style type="text/css">
								
									{% set descColor = entry.commlWorkDescriptionColor %}
									
									{% set infoColor = entry.commlWorkInfoColor %}
									
									
									.comml-work-desc{
										color:{{ descColor }};
									}
									
									.comml-work-info{
										color:{{ infoColor }};
									}
						
								</style>
								
							</div>
											
						</div>
					
					</div>	
					
					
					{# END TEXT BOTTOM #}			
				
				
				</div>
						
				
			</div>
			
			
			{# END TEXT SECTION #}
			
			
		

			
		
			
			{# MEDIA GRID SECTION #}
			
			
			<div class="comml-work-media-grid">
			
				{% for row in entry.workMediaGrid %}
				
				<div class="comml-work-media-row row">
				
					{% switch row.type %}
					
					    {% case "gallery" %}
					    
						{# GALLERY #}
						
						{% for image in row.gallery %}
						
						<div class="comml-work-gallery-col col" style="width: {{ 100 / loop.length }}%;">
		
							<div class="comml-work-gallery-image-wrapper">
							
								<img src="{{image.url}}" class="comml-work-gallery-image block-fullwidth">
							</div>
						
						</div>
		
						{% endfor %}
						
						{# END GALLERY #}
										
					    {% case "video" %}


						{# VIDEO #}
					
						<div class="comml-work-video-col col one-whole">
							
							{% set video = row.video %}
							
							{% set videoWidth = video.width %}
							{% set videoHeight = video.height %}
							
							{% set videoEmbed = video.embed({ 
								width: videoWidth,
								height: videoHeight
							}) %}
							
							<div class="comml-work-video fitvids">{{ videoEmbed }}</div>
						
						
						</div>
						
						{# END VIDEO #}

					
					{% endswitch %}
				
				
				</div>
			
				{% endfor %}
			
			
			
			
			</div>
			
			
			
			
			
			
			
			
			{# END MEDIA GRID SECTION #}
			
			
			
			
		</div>

		{# END MAIN #}



	</div>


</div>




{% endblock main %}