{% extends "/_layout.html" %}


{% set body_class = "template-comml-works-overview template-works-overview" %}


{% block main %}


<div class="comml-works-overview-container">


	{# COMMERCIAL WORKS GRID #}

	<div class="comml-works-grid grid js-wait-for-image">
	
		{% for entry in craft.entries.section('commercialWorksSection') %}
	
		<div class="comml-works-grid-item grid-item one-half medium-up-one-third">
		
			
	        <div class="comml-work-card work-card">
	        	
	        	<a href="{{ entry.url }}">
	        	
				{% set img_transform = {
				    mode: 'crop',
				    width: 960,
				    quality: 100,
				} %}
	        	
	        	{% set imageSrc = entry.workCardImage.first().getUrl(img_transform) %}
	        	
	        	<div class="comml-work-card-image-wrapper">
	                <img class="comml-work-card-image block-fullwidth" src="{{ imageSrc }}">                  
	        	</div>
	        	
	        	
	        	{% set colorHex = entry.commlWorkCardBkgColor %}
	        	
	        	{% set hueColor = craft.hue.createColorFromHex(colorHex) %}
	        	
	        	{% set colorRGB = hueColor.rgb %}
	        	
	     
	        	{% set colorAlpha = entry.commlWorkCardBkgOpacity %}
	        	
	        	
	        	{% set fontColor = entry.commlWorkCardFontColor %}
	        	
	        	
				<div class="comml-work-card-details" style="background-color: rgba({{ colorRGB }},{{ colorAlpha }});">
			
					<div class="comml-work-card-title" style="color:{{ fontColor }};">{{ entry.commlWorkProject }}</div>

				</div>
				
				
				</a>
				
	        </div> 		
		
		
		</div>
	
		{% endfor %}
		
	
	</div>

	{# END COMMERCIAL WORKS GRID #}




</div>





{% endblock main %}