

.about-section-strand{
	position: absolute;
	bottom: 0;
	left: 50%;
	
	width: 1px;
	@include transform(translateX(-50%));
	
	background-color: #fff;
}





.about-brief{
	
	position: relative;
	height: 100vh;
	
	
	background-repeat: no-repeat;
	background-position: 50% 99.5%;
	background-size: cover;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.about-brief-strand{
	top: 50%;
}

.about-brief-text{
	font-size: 18px;
	font-weight: 900;
	text-align: center;
}

.about-brief-text-row-1{
	margin-left: 65px;
}

.about-brief-name{
    display: inline-block;
    margin: 50px 0px 10px 0px;
    padding: 20px 20px 16px 20px;
    
    background-color: #fff;
    font-weight: 300;
	
}

.about-brief-text-row-2{
	margin-left: -30px;
}

.about-brief-industry{
    display: inline-block;
    margin-left: 40px;
    
    vertical-align: top;
    text-align: left;
    font-weight: 700;
    
    span{
	    display: block;
    }
}


.about-bio{
	
	position: relative;
	height: 100vh;

	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: cover;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.about-bio-strand{
	top: 0;
	
}

.about-bio-text{
	
	position: relative;
	z-index: 1;
	
	max-width: 800px;
	padding: 0 15px;
	text-align: center;
	
	font-size: 22px;
	line-height: 1.8;
	font-weight: 400;
	color: #000;
	
	
}


.about-cv{
	
	padding: 80px 15px;
	
	@include screen('medium-down'){
		padding: 30px 15px;
	}
}

.cv-section{
	position: relative;
	& + &{
		margin-top: 20px;
	}
}

.cv-experience{
	@include screen('medium-up'){
		text-align: right;	
	}

}

.cv-title{
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}

.cv-content{
	font-size: 16px;
	font-weight: 700;
}


.cv-skills{
	li{
		& + li{
			margin-top: 6px;
		}
		a{
			
		}
	}
}

.skill-title{
	
}

.skill-details{
	font-size: 13px;
	font-weight: 400;
}

.cv-experience{
	li{
		& + li{
			margin-top: 6px;
		}
		a{
			
		}
	}
}

.experience-period{
	font-weight: 300;
}

.experience-position{
	
}

.experience-place{
	
}

.cv-education{
	
}



.about-social{
	position: relative;
	height: 60vh;
	
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: cover;
	
}

.social-list{
	li{
		a{
			font-size: 24px;
			@include screen('medium-down'){
				font-size: 18px;
			}
			
			&.socicon-mail,
			&.socicon-behance{
				font-size: 28px;
			}
		}
	}
}


.social-list-left{
	position: absolute;
	bottom: 0;
	left: 0;
	
	li{
		&:not(:first-child){
			margin-left: 12vw;
			@include screen('medium-down'){
				margin-left: 12px;
			}
		}
	}
	
}
.social-list-right{
	position: absolute;
	bottom: 0;
	right: 0;
	
	li{
		&:not(:last-child){
			margin-right: 12vw;
			@include screen('medium-down'){
				margin-right: 12px;
			}
		}
	}
	
}


.about-poem{
	height: 40vh;
	padding: 0 15px;
	
	background-color: #000;
	
	color: #494949;
	
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}








