
.indie-single-work-page-container{
	background-color: #000;
}


.indie-single-work{
	position: relative;
}

.indie-single-work-video-wrapper{
	height: 100vh;
}

.indie-single-work-video{
	width: 1000px;
	margin: auto;
}



.indie-single-work-single-image{
	
	height: 100vh;
	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	
}


.indie-single-work-gallery-wrapper{
	
	max-width: 600px;
	margin: auto;
	
}

.indie-single-work-description{
	position: fixed;
	bottom: 0;
	left: 0;
	
	width: 300px;
	padding-left: 25px;
	padding-bottom: 25px;
	
	color: #fff;
	
}













