
@font-face {
    font-family: 'GillSansStd';
    src: url('/_fonts/gillsansstd-light.eot');
    src: url('/_fonts/gillsansstd-light.eot') format('embedded-opentype'),
         url('/_fonts/gillsansstd-light.woff2') format('woff2'),
         url('/_fonts/gillsansstd-light.woff') format('woff'),
         url('/_fonts/gillsansstd-light.ttf') format('truetype'),
         url('/_fonts/gillsansstd-light.svg#GillSansStdLight') format('svg');
         
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'GillSansStd';
    src: url('/_fonts/gillsansstd.eot');
    src: url('/_fonts/gillsansstd.eot') format('embedded-opentype'),
         url('/_fonts/gillsansstd.woff2') format('woff2'),
         url('/_fonts/gillsansstd.woff') format('woff'),
         url('/_fonts/gillsansstd.ttf') format('truetype'),
         url('/_fonts/gillsansstd.svg#GillSansStdRegular') format('svg');
         
    font-style: normal;
    font-weight: 400;    
         
}



@font-face {
    font-family: 'GillSansStd';
    src: url('/_fonts/GillSansStdUltraBold.eot');
    src: url('/_fonts/GillSansStdUltraBold.eot') format('embedded-opentype'),
         url('/_fonts/GillSansStdUltraBold.woff2') format('woff2'),
         url('/_fonts/GillSansStdUltraBold.woff') format('woff'),
         url('/_fonts/GillSansStdUltraBold.ttf') format('truetype'),
         url('/_fonts/GillSansStdUltraBold.svg#GillSansStdUltraBold') format('svg');
         
    font-style: normal;
    font-weight: 800;    
         
}

















@font-face {
	font-family: 'ElegantIcons';
	src:url('/_fonts/ElegantIcons.eot');
	src:url('/_fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('/_fonts/ElegantIcons.woff') format('woff'),
		url('/_fonts/ElegantIcons.ttf') format('truetype'),
		url('/_fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/_fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/_fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/_fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/_fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/_fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/_fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol {
    background: #9f9f9f;
    padding: 7px 5px 3px 5px;
    color: white;
    text-decoration: none;
}
