
@font-face {
    font-family: 'GillSansStd';
    src: url('/_assets/fonts/gillsansstd-light.eot');
    src: url('/_assets/fonts/gillsansstd-light.eot') format('embedded-opentype'),
         url('/_assets/fonts/gillsansstd-light.woff2') format('woff2'),
         url('/_assets/fonts/gillsansstd-light.woff') format('woff'),
         url('/_assets/fonts/gillsansstd-light.ttf') format('truetype'),
         url('/_assets/fonts/gillsansstd-light.svg#GillSansStdLight') format('svg');
         
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'GillSansStd';
    src: url('/_assets/fonts/gillsansstd.eot');
    src: url('/_assets/fonts/gillsansstd.eot') format('embedded-opentype'),
         url('/_assets/fonts/gillsansstd.woff2') format('woff2'),
         url('/_assets/fonts/gillsansstd.woff') format('woff'),
         url('/_assets/fonts/gillsansstd.ttf') format('truetype'),
         url('/_assets/fonts/gillsansstd.svg#GillSansStdRegular') format('svg');
         
    font-style: normal;
    font-weight: 400;    
         
}

@font-face {
    font-family: 'GillSansStd';
    src: url('/_assets/fonts/GillSansStdBold.eot');
    src: url('/_assets/fonts/GillSansStdBold.eot') format('embedded-opentype'),
         url('/_assets/fonts/GillSansStdBold.woff2') format('woff2'),
         url('/_assets/fonts/GillSansStdBold.woff') format('woff'),
         url('/_assets/fonts/GillSansStdBold.ttf') format('truetype'),
         url('/_assets/fonts/GillSansStdBold.svg#GillSansStdBold') format('svg');
         
    font-style: normal;
    font-weight: 700;  
         
}


@font-face {
    font-family: 'GillSansStd';
    src: url('/_assets/fonts/GillSansStdExtraBold.eot');
    src: url('/_assets/fonts/GillSansStdExtraBold.eot') format('embedded-opentype'),
         url('/_assets/fonts/GillSansStdExtraBold.woff2') format('woff2'),
         url('/_assets/fonts/GillSansStdExtraBold.woff') format('woff'),
         url('/_assets/fonts/GillSansStdExtraBold.ttf') format('truetype'),
         url('/_assets/fonts/GillSansStdExtraBold.svg#GillSansStdExtraBold') format('svg');
         
    font-style: normal;
    font-weight: 800;  
}



@font-face {
    font-family: 'GillSansStd';
    src: url('/_assets/fonts/GillSansStdUltraBold.eot');
    src: url('/_assets/fonts/GillSansStdUltraBold.eot') format('embedded-opentype'),
         url('/_assets/fonts/GillSansStdUltraBold.woff2') format('woff2'),
         url('/_assets/fonts/GillSansStdUltraBold.woff') format('woff'),
         url('/_assets/fonts/GillSansStdUltraBold.ttf') format('truetype'),
         url('/_assets/fonts/GillSansStdUltraBold.svg#GillSansStdUltraBold') format('svg');
         
    font-style: normal;
    font-weight: 900;    
         
}
