{% extends "/_layout.html" %}


{% set body_class = "template-about" %}


{% block main %}


<div class="about-container">

	{% set imageSrc = entry.aboutBriefBkgImage.first().url %}

	<div class="about-brief js-wait-for-image" style="background-image: url({{ imageSrc }});">
		
		<div class="about-brief-text">{{ entry.aboutBriefText }}</div>
{#
			<div class="about-brief-text-row-1">Hi, My name is <div class="about-brief-name">Xiaoxiao Tang</div>, a Multimedia Artist</div>
			<div class="about-brief-text-row-2">specializing in<div class="about-brief-industry"><div>Animation,</div><div>Compositing,</div><div>Motion Graphics</div><div>...</div></div>
			</div>
#}
		
	
		<div class="about-brief-strand about-section-strand"></div>
	
	</div>

	{% set imageSrc = entry.aboutBioBkgImage.first().url %}
	
	<div class="about-bio" style="background-image: url({{ imageSrc }});">
	
		<div class="about-bio-text">{{ entry.aboutBioText | nl2br }}</div>
	
	
{# Raised in Beijing China, Xiaoxiao now works based in New York, as a freelance compositor and motion graphics artist with brand list including Google, Amazon, Apple, Dell, Samsung, Bosch, Ford, McDonald’s, ESPN, Nickelodeon, Cartoon Network, Sesame Studios, VH1 TV, Hanes, Footlocker, CVS, Navy Federal Credit Union, etc. Her animated film "Rock is not an Attitude" has been official selected and screened in numerous international festivals, including ANIMAYO International Film Festival, Athens International Film Festival, CutOut Fest, 56th Zlín Film Festival, Brooklyn Film Festival, Adobe Design Achievement Awards to name a few. When creating as an independent artist, Xiaoxiao loves stop-motion animation and is particularly interested in its ability to allow a deeper expression based on its direct physical foundation. #}
	
	
		<div class="about-bio-strand about-section-strand"></div>
	</div>



	<div class="about-cv">
		
		<div class="cv-skills cv-section medium-up-one-half medium-up-push-one-half">
			<div class="cv-title">skills</div>
			<div class="cv-content">
				<ul>
				{% for skill in entry.aboutSkills %}
				<li>
					<div class="skill-title">{{skill.heading}}</div>
					<div class="skill-details">{{skill.details}}</div>
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		
		<div class="cv-experience cv-section medium-up-one-half">
			<div class="cv-title">experience</div>
			<div class="cv-content">
				<ul>
				{% for exp in entry.aboutExperience %}
				<li>
					<div class="experience-period">{{exp.period}}</div>
					<div class="experience-position">{{exp.position}}</div>
					<div class="experience-place">{{exp.place}}</div>
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="cv-education cv-section medium-up-one-half medium-up-push-one-half">
			<div class="cv-title">education</div>
			<div class="cv-content">{{ entry.aboutEducation | nl2br }}</div>
		</div>
	
	</div>

	{% set imageSrc = entry.aboutSocialBkgImage.first().url %}

	<div class="about-social" style="background-image: url({{ imageSrc }});">

		<ul class="social-list social-list-left">
			<li><a href="https://www.facebook.com/" target="_blank" class="socicon-vimeo"></a></li>
			<li><a href="https://www.instagram.com/" target="_blank" class="socicon-instagram"></a></li>
			<li><a href="https://www.instagram.com/" target="_blank" class="socicon-mail"></a></li>

		</ul>
		<ul class="social-list social-list-right">
			<li><a href="http://www.pinterest.com/" target="_blank" class="socicon-linkedin"></a></li>
			<li><a href="http://www.pinterest.com/" target="_blank" class="socicon-behance"></a></li>
			<li><a href="http://www.pinterest.com/" target="_blank" class="socicon-facebook"></a></li>
		</ul>	
	
	</div>


	<div class="about-poem">{{ entry.aboutPoem }}</div>





</div>







{% endblock main %}