{% extends "/_layout.html" %}


{% set body_class = "template-index" %}


{% block main %}

<style type="text/css">	
	
{#
	.navbar{
		
		background-color: {{ entry.navbarBackgroundColor }};
		color: {{ entry.navbarTextColor }};
			
	}
#}
	
</style>


<div class="sky js-wait-for-image">



	<div class="layer" data-depth="0">
		<div class="feather">
			<img class="block-fullheight" src="/_assets/images/Home_collage_output_Feather_and_Line.png">
		</div>
	</div>

	<div class="layer" data-depth="0">
		<div class="name">
			<img class="block-fullwidth" src="/_assets/images/Home_collage_output_sqPaper.png">
	        <div class="name-text">汤晓晓</div>
		</div>
	</div>



	<div class="layer" data-depth="0.4">
		<div class="cloud-1 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud01.png">
		</div>
	</div>
	
	<div class="layer" data-depth="0.1">
		<div class="cloud-2 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud02.png">
		</div>
	</div>
	
	<div class="layer" data-depth="0.5">
		<div class="cloud-3 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud03.png">
		</div>
	</div>	
	
	<div class="layer" data-depth="0.2">
		<div class="cloud-4 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud04.png">
		</div>
	</div>
	
	<div class="layer" data-depth="0.3">
		<div class="cloud-5 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud05.png">
		</div>
	</div>	
	
	<div class="layer" data-depth="0.2">
		<div class="cloud-6 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud06.png">
		</div>
	</div>	
	

	
</div>




{% endblock main %}