{% extends "/_layout.html" %}


{% set body_class = "template-index" %}


{% block main %}


{% set imageSrc = entry.skyBkgImage.first().url %}

<div class="sky js-wait-for-image" style="background-image: url({{ imageSrc }});">

	{% for element in entry.skyElements %}
	
	<div class="layer-{{ loop.index }} layer" data-depth="{{ element.depth }}">
		{% set imageSrc = element.image.first().url %}
		<img src="{{ imageSrc }}" style="{{ element.css }}">
	</div>

	{% endfor %}



{#
	<div class="layer" data-depth="0">
		<div class="feather">
			<img class="block-fullheight" src="/_assets/images/Home_collage_output_Feather_and_Line.png">
		</div>
	</div>

	<div class="layer" data-depth="0">
		<div class="name">
			<img class="block-fullwidth" src="/_assets/images/Home_collage_output_sqPaper.png">
		</div>
	</div>



	<div class="layer" data-depth="0.4">
		<div class="cloud-1 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud01.png">
		</div>
	</div>
	
	<div class="layer" data-depth="0.1">
		<div class="cloud-2 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud02.png">
		</div>
	</div>
	
	<div class="layer" data-depth="0.5">
		<div class="cloud-3 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud03.png">
		</div>
	</div>	
	
	<div class="layer" data-depth="0.2">
		<div class="cloud-4 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud04.png">
		</div>
	</div>
	
	<div class="layer" data-depth="0.3">
		<div class="cloud-5 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud05.png">
		</div>
	</div>	
	
	<div class="layer" data-depth="0.2">
		<div class="cloud-6 cloud">
			<img class="wave block-fullwidth" src="/_assets/images/Home_collage_output_Cloud06.png">
		</div>
	</div>	
	
#}

	
</div>




{% endblock main %}