{% extends "/_layout.html" %}


{% set body_class = "template-indie-work template-work" %}

{% block main %}


{% set media_matrix = entry.workMediaGrid %}


{% set has_single_media = false %}

{% if media_matrix | length == 1 %}

	{% set single_media = media_matrix | first %}

	{% switch single_media.type %}
	
	    {% case "gallery" %}
	    
		    {% if single_media.gallery | length == 1 %}
		    
		    	{% set has_single_media = true %}
		    
		    {% endif %}
	    	
	    {% case "video" %}

			{% set has_single_media = true %}
	
	{% endswitch %}

{% endif %}



<div class="indie-work-container">


	{# INDIE SINGLE WORK #}

	<div id="work" class="indie-work work">

		{# MEDIA #}

		<div class="indie-work-media work-media">

			{% if has_single_media %}

			<div class="indie-work-single-media-cntr">
		
			{% switch single_media.type %}
			
			
			    {% case "gallery" %}
			    
					<div class="indie-work-single-image" style="background-image: url({{ single_media.gallery.first().url }})"></div>
			    	
			    {% case "video" %}
		
	
					<div class="display-table">
					<div class="display-table-cell">

					<div class="indie-work-video fitvids">{{ single_media.video.embed() }}</div>

					</div>
					</div>

			
			{% endswitch %}
		
			</div>
		
			{% else %}
		
			<div class="indie-work-multiple-media-cntr">
			
			
				{% for media_block in media_matrix %}


				{% switch media_block.type %}
				
				
				    {% case "gallery" %}
				    
					<div class="indie-work-gallery">
	
						{% for image in media_block.gallery %}
	
							<div class="indie-work-gallery-image-wrapper">
								<img src="{{image.url}}" class="indie-work-gallery-image block-fullwidth">
							</div>
	
						{% endfor %}
	
					</div>
				    	
				    {% case "video" %}
			
					<div class="indie-work-video">
	
						<div class="indie-work-video fitvids">{{ media_block.video.embed() }}</div>
	
					</div>
	
				
				{% endswitch %}



				{% endfor %}
			
			
			
			
			
			</div>
		
	
		{% endif %}


		</div>

		{# END MEDIA #}


		{# DESCRIPTION #}

		<div class="indie-work-description">{{ entry.indieWorkDescription }}</div>

		{# END DESCRIPTION #}


		{# NAV #}

		{% set list = craft.entries.section('indieWorksSection')%}

		{% set prevEntry = entry.getPrev(list) %}
		{% set nextEntry = entry.getNext(list) %}

		{% if prevEntry %}

		<div class="work-nav-prev-bar work-nav-bar">
			<a href="{{ prevEntry.url }}" data-work-url="{{ prevEntry.url }}" class="work-nav-prev work-nav js-load-work elegant-icon">&#x23;</a>
		</div>

		{% endif %}

		{% if nextEntry %}

		<div class="work-nav-next-bar work-nav-bar">
			<a href="{{ nextEntry.url }}" data-work-url="{{ nextEntry.url }}" class="work-nav-next work-nav js-load-work elegant-icon">&#x24;</a>
		</div>

		{% endif %}

		{# END NAV #}



	</div>

	{# END INDIE SINGLE WORK #}


	<a href="{{ url('indie-works') }}" class="work-close elegant-icon">&#x4d;</a>

</div>





{% endblock main %}