{% extends "/_layout.html" %}


{% set body_class = "template-indie-works-overview template-works-overview" %}

{% block main %}



<div class="indie-works-overview-container">


	{# INDIE WORKS GRID #}

	<div class="indie-works-grid grid">
	
		{% for entry in craft.entries.section('indieWorksSection') %}
	
		<div class="indie-works-grid-item grid-item one-half medium-up-one-third">
		
			
	        <div class="indie-work-card work-card js-load-work" data-work-url="{{ entry.url }}">
	        	
				{% set img_transform = {
				    mode: 'crop',
				    width: 960,
				    quality: 100,
				} %}
				
				{% set imageSrc = entry.workCardImage.first().getUrl(img_transform) %}
	        	
	        	
	        	<div class="indie-work-card-image-wrapper">
	                <img class="indie-work-card-image block-fullwidth" src="{{ imageSrc }}">                  
	        	</div>
	        	
				<div class="indie-work-card-details" style="background-color: {{ entry.indieWorkCardBkgColor }}; color: {{ entry.indieWorkFontCardColor }};">
					<div class="indie-work-card-title">{{ entry.title }}</div>
					<div class="indie-work-card-category">{{ entry.indieWorkCategory.first().title }}</div>
				</div>
				
	        </div> 		
		
		
		</div>
	
		{% endfor %}
		
	
	</div>

	{# END INDIE WORKS GRID #}


	{% include '/_snippet/_loading-work-stage.html' %}




</div>


{% endblock main %}